/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
  font-family: "Avenir Demi";
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"), url("Fonts/d268cd4d-987c-468a-a9bb-685df57a3892.woff2") format("woff2"), url("Fonts/add96dac-4679-4981-9390-74fd5a5bf61f.woff") format("woff"), url("Fonts/60f1dfd0-eea9-448c-84a0-e4e8d5ba7516.ttf") format("truetype"), url("Fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg"); }
@font-face {
  font-family: "Avenir Italic";
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix");
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix") format("eot"), url("Fonts/40341557-de09-46fe-a2df-9ca52c67f017.woff2") format("woff2"), url("Fonts/e3efde60-79f0-4ad5-92b0-88c37631738e.woff") format("woff"), url("Fonts/1fd2cf5d-f27c-431e-aac2-fd959b2f9ca4.ttf") format("truetype"), url("Fonts/7ef1049b-c721-43a7-be32-fad3c24a248d.svg#7ef1049b-c721-43a7-be32-fad3c24a248d") format("svg"); }
body {
  background-color: transparent !important; }

.header {
  background-color: transparent !important;
  border-bottom: 0px solid #000 !important;
  color: #171717 !important; }

.header h3 {
  margin: 3px 0 3px 3px;
  font-size: 23px !important;
  text-transform: uppercase !Important;
  color: #fff !important;
  padding: 5px; }

span, p {
  font-size: inherit; }

#account-overview {
  height: 235px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Avenir Demi"; }
  #account-overview .user-container {
    display: block;
    padding-right: 0px !important; }
  #account-overview .header {
    display: none !important; }
  #account-overview .user-info {
    width: 30% !important;
    background: #ededed !important;
    display: none; }
  #account-overview .points {
    margin-top: 50px;
    color: black !important;
    text-align: center;
    display: none; }
  #account-overview .points-info {
    display: block;
    width: 100% !important; }
    #account-overview .points-info .fan-level {
      margin-top: -84px;
      display: none; }
      #account-overview .points-info .fan-level .small {
        color: black;
        font-size: 20px !important;
        line-height: 31px;
        display: none; }
  #account-overview .profile-pic .bp1 {
    -moz-border-radius: 80px !important;
    -webkit-border-radius: 80px !important;
    border-radius: 80px !important;
    width: 130px !important;
    height: 100% !important;
    padding: 4px 4px 0px 4px !important;
    display: none; }
  #account-overview .progress-bar-container {
    padding: 5px !important;
    display: none; }
  #account-overview .container {
    width: 100%;
    color: white; }
  #account-overview .lifetime-points {
    display: none !important; }
  #account-overview .redeemable-points {
    font-size: 28px;
    text-transform: lowercase;
    text-align: center;
    font-family: "Avenir Italic";
    margin-left: -3px;
    width: 100%;
    display: block; }
  #account-overview .name {
    color: white;
    font-weight: bold;
    font-size: 31px !important;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 85px; }
  #account-overview .logout-link-container {
    display: none !important; }
  #account-overview .fan-level-progress {
    font-size: 12px;
    padding-top: 5px;
    display: none; }

.widget .container {
  padding: 0px !important; }

@media only screen and (min-width: 600px) {
  #account-overview .flash-points {
    margin-bottom: 8px;
    font-size: 28px !important; } }
@media only screen and (min-width: 200px) {
  #account-overview .profile-pic.bp1 {
    -moz-border-radius: 80px !important;
    -webkit-border-radius: 80px !important;
    border-radius: 80px !important;
    display: inline-block;
    width: 130px !important;
    height: 130px !important; } }

/*# sourceMappingURL=account_overview.css.map */
