/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
  font-family: "Avenir Demi";
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"), url("Fonts/d268cd4d-987c-468a-a9bb-685df57a3892.woff2") format("woff2"), url("Fonts/add96dac-4679-4981-9390-74fd5a5bf61f.woff") format("woff"), url("Fonts/60f1dfd0-eea9-448c-84a0-e4e8d5ba7516.ttf") format("truetype"), url("Fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg"); }
@font-face {
  font-family: "Avenir Italic";
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix");
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix") format("eot"), url("Fonts/40341557-de09-46fe-a2df-9ca52c67f017.woff2") format("woff2"), url("Fonts/e3efde60-79f0-4ad5-92b0-88c37631738e.woff") format("woff"), url("Fonts/1fd2cf5d-f27c-431e-aac2-fd959b2f9ca4.ttf") format("truetype"), url("Fonts/7ef1049b-c721-43a7-be32-fad3c24a248d.svg#7ef1049b-c721-43a7-be32-fad3c24a248d") format("svg"); }
body {
  background-color: transparent !important; }

.header {
  background-color: transparent !important;
  border-bottom: 0px solid #000 !important;
  color: #171717 !important; }

.header h3 {
  margin: 3px 0 3px 3px;
  font-size: 23px !important;
  text-transform: uppercase !Important;
  color: #fff !important;
  padding: 5px; }

span, p {
  font-size: inherit; }

#account-overview {
  width: 385px !important;
  height: 141px;
  font-family: "Avenir Demi";
  border: 1px solid transparent; }
  #account-overview .user-container {
    display: block;
    padding-right: 0px !important; }
  #account-overview .header {
    display: none !important; }
  #account-overview .user-info {
    width: 66px !important;
    display: block;
    float: left;
    margin-right: 19px; }
  #account-overview .points {
    margin-top: 50px;
    color: black !important;
    display: none; }
  #account-overview .points-info {
    display: block;
    width: 100% !important;
    margin-top: 17px; }
    #account-overview .points-info .fan-level {
      margin-top: -84px; }
      #account-overview .points-info .fan-level .icon {
        display: none; }
      #account-overview .points-info .fan-level .small {
        color: white;
        font-family: "Avenir Italic";
        font-size: 20px !important;
        line-height: 31px;
        margin-top: -83px; }
  #account-overview .profile-pic {
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;
    height: 76px;
    width: 76px;
    display: block;
    margin-top: -17px; }
    #account-overview .profile-pic.bp1 {
      -moz-border-radius: 80px !important;
      -webkit-border-radius: 80px !important;
      border-radius: 80px !important;
      width: 130px !important;
      height: 100% !important;
      padding: 4px 4px 0px 4px !important;
      display: none; }
  #account-overview .progress-bar-container {
    padding: 5px !important;
    margin-top: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 33px; }
  #account-overview .ct-progress-bar .bar > span {
    font-size: 39px;
    color: #ffc000;
    text-shadow: 0px 0px #ffc000; }
  #account-overview .ct-points-color {
    color: white !important; }
  #account-overview .ct-progress-bar {
    background-color: black !important; }
    #account-overview .ct-progress-bar .bar {
      background: #ffc000 !important; }
  #account-overview .container {
    width: 100%;
    color: transparent !important;
    text-shadow: 2px 2px 3px #1c1c1c; }
  #account-overview .lifetime-points {
    display: none !important; }
  #account-overview .redeemable-points {
    font-size: 27px;
    text-transform: lowercase;
    font-family: "Avenir Italic";
    color: orange !important;
    margin-left: -3px;
    margin-top: -8px;
    width: 100%;
    display: block; }
  #account-overview .name {
    color: white;
    font-weight: bold;
    font-family: 'Avenir Italic';
    font-size: 31px !important;
    text-transform: capitalize;
    margin: 0 auto;
    width: 100%; }
  #account-overview .logout-link-container {
    display: none !important; }
  #account-overview .fan-level-progress {
    font-size: 15px;
    padding-top: 5px;
    margin-top: -5px;
    text-align: right;
    float: right;
    text-transform: uppercase !important;
    width: 100%;
    color: white !important;
    text-shadow: 0px 0px white; }

.widget .container {
  padding: 0px !important; }

@media only screen and (max-width: 388px) {
  #account-overview {
    text-align: center;
    width: 100% !important; }
    #account-overview .profile-pic {
      display: none; }
    #account-overview .progress-bar-container {
      display: none; } }

/*# sourceMappingURL=account_overview.css.map */
