/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
  font-family: "Avenir Demi";
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"), url("Fonts/d268cd4d-987c-468a-a9bb-685df57a3892.woff2") format("woff2"), url("Fonts/add96dac-4679-4981-9390-74fd5a5bf61f.woff") format("woff"), url("Fonts/60f1dfd0-eea9-448c-84a0-e4e8d5ba7516.ttf") format("truetype"), url("Fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg"); }
@font-face {
  font-family: "Avenir Italic";
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix");
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix") format("eot"), url("Fonts/40341557-de09-46fe-a2df-9ca52c67f017.woff2") format("woff2"), url("Fonts/e3efde60-79f0-4ad5-92b0-88c37631738e.woff") format("woff"), url("Fonts/1fd2cf5d-f27c-431e-aac2-fd959b2f9ca4.ttf") format("truetype"), url("Fonts/7ef1049b-c721-43a7-be32-fad3c24a248d.svg#7ef1049b-c721-43a7-be32-fad3c24a248d") format("svg"); }
body {
  background-color: transparent !important; }

.header {
  background-color: transparent !important;
  border-bottom: 0px solid #000 !important;
  color: #171717 !important; }
  .header h3 {
    margin: 3px 0 3px 3px;
    font-size: 23px !important;
    text-transform: uppercase !Important;
    color: #fff !important;
    padding: 5px;
    display: none; }

thead {
  display: none !important; }

tr {
  color: white !important;
  font-family: "Avenir Demi";
  /* display: block;
   height: 30px;
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;*/
  font-weight: bold; }

td {
  background-color: #171717; }

tr td:first-child {
  /*     border: 10px solid orange; */
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px; }

tr td:last-child {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px; }

span, p {
  white-space: nowrap !important; }

#reward-history table th:last-child, #reward-history table td:last-child {
  height: 26px !important; }

#reward-history {
  height: 235px;
  background-color: rgba(25, 25, 25, 0.5); }
  #reward-history table tbody:before {
    content: "" !important; }
  #reward-history table {
    width: 98%;
    margin-top: -25px;
    overflow: hidden;
    position: relative;
    border-collapse: separate;
    border-spacing: 0px 6px; }
    #reward-history table td {
      vertical-align: top;
      line-height: 18px;
      padding: 0px 20px;
      margin: 0px !important;
      padding-top: 4px;
      padding-bottom: 4px; }
      #reward-history table td.points {
        font-family: "Avenir Italic";
        text-transform: uppercase; }
      #reward-history table td .title {
        margin-left: -30px; }

.ct-points-color {
  color: orange !important; }

.container {
  padding: 20px 10px 10px 10px !important;
  height: 202px;
  overflow: hidden; }

.ct-header-text-color {
  font-family: "Avenir Italic";
  text-transform: capitalize !important;
  font-size: large !important;
  color: black !important; }

.date {
  padding-left: 18px !important; }

/*# sourceMappingURL=profile_recents.css.map */
