/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
  font-family: "Avenir Demi";
  src: url("Fonts/47d79f32-82c5-4a74-9646-5150297aabc1.eot?#iefix");
  src: url("Fonts/47d79f32-82c5-4a74-9646-5150297aabc1.eot?#iefix") format("eot"), url("Fonts/249228f0-61ac-40cc-a5a5-5609c9816e3f.woff2") format("woff2"), url("Fonts/efba18ed-80cc-49c4-997a-fbb140739d19.woff") format("woff"), url("Fonts/750a20ec-9242-42a8-b3bd-c4dcec552196.ttf") format("truetype"), url("Fonts/9505c912-495c-462c-899a-e61574ee9559.svg#9505c912-495c-462c-899a-e61574ee9559") format("svg"); }
@font-face {
  font-family: "Avenir Italic";
  src: url("Fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix");
  src: url("Fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot"), url("Fonts/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2") format("woff2"), url("Fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff"), url("Fonts/4112ec87-6ded-438b-83cf-aaff98f7e987.ttf") format("truetype"), url("Fonts/ab1835cb-df6f-4d8d-b8ee-3075f5ba758d.svg#ab1835cb-df6f-4d8d-b8ee-3075f5ba758d") format("svg"); }
body {
  background-color: transparent !important; }

.header {
  background-color: transparent !important;
  border-bottom: 0px solid #000 !important;
  color: black !important; }
  .header h3 {
    margin: 3px 0 3px 3px;
    font-size: 23px !important;
    text-transform: uppercase !Important;
    color: #fff !important;
    padding: 5px; }

thead {
  display: none !important; }

tr {
  color: white !important;
  font-family: "Avenir Demi";
  /* display: block;
   height: 30px;
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;*/
  font-weight: bold; }

td {
  background-color: black; }

tr td:first-child {
  /*     border: 10px solid orange; */
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px; }

tr td:last-child {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px; }

#activity-history table th:last-child, #activity-history table td:last-child {
  height: 26px !important; }

#activity-history {
  height: 235px;
  background-color: rgba(25, 25, 25, 0.5); }
  #activity-history table tbody:before {
    content: "" !important; }
  #activity-history table {
    width: 98%;
    margin-top: -25px;
    overflow: hidden;
    position: relative;
    border-collapse: separate;
    border-spacing: 0px 6px; }
    #activity-history table td {
      vertical-align: top;
      line-height: 18px;
      padding: 0px 20px;
      margin: 0px !important;
      padding-top: 4px;
      padding-bottom: 4px; }
      #activity-history table td.points {
        font-family: "Avenir Italic";
        text-transform: uppercase; }
      #activity-history table td .title {
        margin-left: -30px; }

.ct-points-color {
  color: orange !important; }

.container {
  padding: 60px 10px 10px 10px;
  height: 202px;
  overflow: hidden; }

.ct-header-text-color {
  font-family: "Avenir Italic";
  text-transform: capitalize !important;
  font-size: large !important;
  color: black !important; }

.date {
  padding-left: 18px !important; }

/*# sourceMappingURL=recent_activities.css.map */
