/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
  font-family: "Avenir Demi";
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");
  src: url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"), url("Fonts/d268cd4d-987c-468a-a9bb-685df57a3892.woff2") format("woff2"), url("Fonts/add96dac-4679-4981-9390-74fd5a5bf61f.woff") format("woff"), url("Fonts/60f1dfd0-eea9-448c-84a0-e4e8d5ba7516.ttf") format("truetype"), url("Fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg"); }
@font-face {
  font-family: "Avenir Italic";
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix");
  src: url("Fonts/8d8470e6-19c9-4a41-8b46-d8451655acf7.eot?#iefix") format("eot"), url("Fonts/40341557-de09-46fe-a2df-9ca52c67f017.woff2") format("woff2"), url("Fonts/e3efde60-79f0-4ad5-92b0-88c37631738e.woff") format("woff"), url("Fonts/1fd2cf5d-f27c-431e-aac2-fd959b2f9ca4.ttf") format("truetype"), url("Fonts/7ef1049b-c721-43a7-be32-fad3c24a248d.svg#7ef1049b-c721-43a7-be32-fad3c24a248d") format("svg"); }
body {
  background-color: transparent !important; }
  body::-webkit-scrollbar {
    display: none; }

.header {
  background-color: transparent !important;
  border-bottom: 0px solid #000 !important;
  color: #171717 !important; }
  .header h3 {
    margin: -7px 0 0px -10px !important;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: white !important;
    text-shadow: 2px 2px 3px #1c1c1c; }

thead {
  display: none !important; }

tr {
  color: white !important;
  font-family: "Avenir Demi";
  /* display: block;
   height: 30px;
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;*/
  font-weight: bold; }

.widget .header {
  display: block;
  padding: 4px;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: -16px;
  height: 22px; }

span, p {
  white-space: nowrap !important;
  overflow: hidden;
  width: 110px;
  text-overflow: ellipsis; }

#activity-history table th:last-child, #activity-history table td:last-child {
  height: 26px !important; }

#activity-history {
  height: 120px;
  width: 271px;
  margin: 0 auto;
  overflow: hidden; }
  #activity-history table tbody:before {
    content: "" !important; }
  #activity-history table {
    width: 98%;
    overflow: hidden;
    position: relative;
    border-spacing: 0px 6px;
    margin-top: 21px; }
    #activity-history table td {
      text-shadow: 2px 2px 3px #1c1c1c;
      vertical-align: top;
      padding: 0px !important;
      height: 0px;
      line-height: 14px;
      margin-bottom: -7px; }
      #activity-history table td.points {
        font-family: "Avenir Italic";
        text-transform: lowercase;
        /* border: 1px solid red; */
        /* width: 23vw; */
        text-align: right; }
        #activity-history table td.points span {
          font-size: 16px !important; }
      #activity-history table td .title {
        margin-left: 8px; }

.ct-points-color {
  color: orange !important; }

.container {
  padding: 0px !important;
  height: 202px;
  overflow: hidden; }

.ct-header-text-color {
  font-family: "Avenir Italic";
  text-transform: capitalize !important;
  font-size: large !important;
  color: black !important; }

.date {
  padding-left: 18px !important; }

#activity-history table .desktop {
  display: block; }

#activity-history table .mobile {
  display: none; }

@media (min-width: 400px) {
  #activity-history table .desktop {
    display: block; }

  #activity-history table .mobile {
    display: none; } }

/*# sourceMappingURL=recent_activities.css.map */
